outputs/*
!outputs/single/
outputs/single/*
!outputs/single/blur-distortion-overexposure/
outputs/single/blur-distortion-overexposure/*
!outputs/single/blur-distortion-overexposure/cam0/
outputs/single/blur-distortion-overexposure/cam0/*
!outputs/single/blur-distortion-overexposure/cam0/plots/
!outputs/single/blur-distortion-overexposure/cam0/plots/**
!outputs/single/blur-distortion-overexposure/cam0/reports/
!outputs/single/blur-distortion-overexposure/cam0/reports/**
!outputs/multicamera/
outputs/multicamera/*
!outputs/multicamera/dark_frames-no_common_pose_frame/
outputs/multicamera/dark_frames-no_common_pose_frame/*
!outputs/multicamera/dark_frames-no_common_pose_frame/plots/
!outputs/multicamera/dark_frames-no_common_pose_frame/plots/**
!outputs/multicamera/dark_frames-no_common_pose_frame/reports/
!outputs/multicamera/dark_frames-no_common_pose_frame/reports/**
!outputs/multicamera/dark_frames-no_common_pose_frame/cam*/
outputs/multicamera/dark_frames-no_common_pose_frame/cam*/*
!outputs/multicamera/dark_frames-no_common_pose_frame/cam*/plots/
!outputs/multicamera/dark_frames-no_common_pose_frame/cam*/plots/**
!outputs/multicamera/dark_frames-no_common_pose_frame/cam*/reports/
!outputs/multicamera/dark_frames-no_common_pose_frame/cam*/reports/**
.DS_Store
